@model PagedList.IPagedList<KaraokeWeb.Models.EF.Drink>
@using PagedList.Mvc;
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
	<div class="sub_home">
		<div class="sub_home_left">
			<ul class="nofitications-dropdown">
				<li class="login_box" id="loginContainer">
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							@using (Html.BeginForm("Index", "DrinkMenu", FormMethod.Get))
							{
								<input class="sb-search-input" placeholder="Nhập từ khóa" type="search" id="search" name="search" value="@ViewBag.search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							}
						</div>
					</div>
					<!-- search-scripts -->
					<script src="/assets/admin/js/classie.js"></script>
					<script src="/assets/admin/js/uisearch.js"></script>
					<script>
						new UISearch(document.getElementById('sb-search'));
					</script>
					<!-- //search-scripts -->
				</li>
			</ul>
		</div>
		<div class="sub_home_right">
			<button class="btn-success"><a href="/Admin/DrinkMenu/Create"style="color:white">Thêm đồ uống mới</a></button>
		</div>
		<div class="clearfix"></div>
	</div>	
}
<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
	<div class="panel-heading">
		<h2 class="text-uppercase">Danh sách đồ uống</h2>
		<div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
	</div>
	<div class="panel-body no-padding" style="display: block;">
		<table class="table table-striped">
			<thead>
				<tr class="warning">
					<th>STT</th>
					<th>Tên thức uống</th>
					<th>Loại </th>
					<th>Giá</th>
					<th>Trạng thái</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr id=" row_@item.drink_id">
						<td>@item.drink_id</td>
						<td>@item.drink_name</td>
						@if (item.menu_id == 4)
						{
							<td>Đồ uống</td>
						}

						<td>@item.price</td>
						@if (item.status == 1)
						{
							<td>Còn</td>
						}
						else
						{
							<td>Hết</td>
						}
						<td>
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
									Thao tác
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="/Admin/DrinkMenu/Update/@item.drink_id">Sửa</a></li>
									<li>
										@Ajax.ActionLink("Xóa", "Delete", new { @id = item.drink_id }, new AjaxOptions
										{
											Confirm = "Xác nhận xóa?",
											OnComplete = "$('#row_" + item.drink_id + "').remove()",
											HttpMethod = "Delete"
										})
									</li>
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @search = @ViewBag.search }))
	</div>
</div>
