@model KaraokeWeb.Models.EF.Account

@{
	ViewBag.Title = "Chỉnh sửa tài khoản";
	Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{

}
<div class="sign-up">
	@using (Html.BeginForm("Update", "Account", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<h3 class="text-uppercase">cập nhật tài khoản</h3>
		<p class="creating">
			Cập nhật tài khoản thành viên (chỉ Admin được cập nhật)
		</p>

		<h6>Thông tin tài khoản</h6>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model=>model.id)
		<div class="form-group">
			<div class="sign-u">
				<div class="sign-up1">
					<h4>Tài khoản* :</h4>
				</div>
				<div class="sign-up2">
					@Html.TextBoxFor(model => model.username, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="form-group">
			<div class="sign-u">
				<div class="sign-up1">
					<h4>Mật khẩu mới* :</h4>
				</div>
				<div class="sign-up2">
					@Html.PasswordFor(model => model.password, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="form-group">
			<div class="sign-u">
				<div class="sign-up1">
					<h4>Loại người dùng* :</h4>
				</div>
				<div class="sign-up2">
					@Html.TextBoxFor(model => model.user_type, new { @class = "form-control" })
					<p class="creating">
						(số 1 là nhân viên)
					</p>
					@Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="sub_home">
			<div class="sub_home_left">
				<button type="submit">Cập nhật tài khoản</button>
			</div>
			<div class="sub_home_right">
				@Html.ActionLink("Quay lại trang chủ", "Index", "Account")
			</div>
			<div class="clearfix"> </div>
		</div>
	}
</div>

